---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import MobileNav from '../components/MobileNav.astro';
import Hero from '../components/Hero.astro';
import ModuleSection from '../components/ModuleSection.astro';
import Footer from '../components/Footer.astro';
import ScrollToTop from '../components/ScrollToTop.astro';
import NextSection from '../components/NextSection.astro';

import Module01 from '../content/module-01.mdx';
import Module02 from '../content/module-02.mdx';
import Module03 from '../content/module-03.mdx';
import Module04 from '../content/module-04.mdx';
import Module05 from '../content/module-05.mdx';
import Module06 from '../content/module-06.mdx';
import Module07 from '../content/module-07.mdx';
import Module08 from '../content/module-08.mdx';
import Module09 from '../content/module-09.mdx';
import Module10 from '../content/module-10.mdx';
import Module11 from '../content/module-11.mdx';
import Module12 from '../content/module-12.mdx';
import Exercises from '../content/exercises.mdx';
import CommonErrors from '../content/errores-comunes.mdx';
import Cheatsheet from '../content/cheatsheet.mdx';
---

<Layout title="Curso de SQL y PostgreSQL">
  <Sidebar />
  <MobileNav />

  <main class="lg:ml-70 pt-14 lg:pt-0">
    <Hero />

    <ModuleSection id="modulo-1" title="Introduccion a SQL y PostgreSQL" number="01">
      <Module01 />
    </ModuleSection>

    <ModuleSection id="modulo-2" title="Preparando el entorno" number="02" alternate>
      <Module02 />
    </ModuleSection>

    <ModuleSection id="modulo-3" title="SELECT: Tu primera consulta" number="03">
      <Module03 />
    </ModuleSection>

    <ModuleSection id="modulo-4" title="WHERE: Filtrando datos" number="04" alternate>
      <Module04 />
    </ModuleSection>

    <ModuleSection id="modulo-5" title="Ordenar y paginar resultados" number="05">
      <Module05 />
    </ModuleSection>

    <ModuleSection id="modulo-6" title="Funciones de agregacion" number="06" alternate>
      <Module06 />
    </ModuleSection>

    <ModuleSection id="modulo-7" title="JOINs: Conectando tablas" number="07">
      <Module07 />
    </ModuleSection>

    <ModuleSection id="modulo-8" title="Subconsultas y CTEs" number="08" alternate>
      <Module08 />
    </ModuleSection>

    <ModuleSection id="modulo-9" title="Funciones y expresiones" number="09">
      <Module09 />
    </ModuleSection>

    <ModuleSection id="modulo-10" title="Modificando datos" number="10" alternate>
      <Module10 />
    </ModuleSection>

    <ModuleSection id="modulo-11" title="Rendimiento y optimizacion" number="11">
      <Module11 />
    </ModuleSection>

    <ModuleSection id="modulo-12" title="Analitica con SQL" number="12" alternate>
      <Module12 />
    </ModuleSection>

    <ModuleSection id="ejercicios" title="Ejercicios integradores">
      <Exercises />
    </ModuleSection>

    <ModuleSection id="errores-comunes" title="Errores comunes y sus soluciones" alternate>
      <CommonErrors />
    </ModuleSection>

    <ModuleSection id="cheatsheet" title="Cheatsheet de SQL">
      <Cheatsheet />
    </ModuleSection>

    <Footer />
  </main>

  <ScrollToTop />
  <NextSection />
</Layout>
